@model IEnumerable<Carehome.Areas.Dashboard.Models.Service>

       <!-- /nav --><!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid overlay">
    <div class="jumbo-heading">
        <!-- section-heading -->
        <div class="section-heading" data-aos="zoom-in">
            <h1>Grooming</h1>
        </div>
        <!-- /section-heading -->
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index"asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item">Grooming</li>
                <li class="breadcrumb-item active" aria-current="page">Services </li>
            </ol>
        </nav>
    </div>
    <!-- /jumbo-heading -->
</div>
<!-- /jumbotron -->
<!-- ==== Page Content ==== -->
<div class="page">
    <div class="container">
        <div class="row">
            <!-- /col-md-6 -->
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 mb-lg-0 mb-5">
                        <img src="~/img/about1.jpg" class="border-irregular1 img-fluid" alt="">
                    </div>
                    <!-- /col -->
                    <div class="col-lg-8">
                        <h3>Grooming Services</h3>
                        <p>
                            Grooming services for pets encompass a wide range of care activities designed to maintain the health, hygiene, and appearance of animals. Here are some common services that typically fall under the heading of grooming:
                        </p>
                       
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                <h4 class="mt-5">Service Highlights</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="custom ps-0">
                            <li>
                                <b>Bathing and Shampooing:</b>
                                <p> Regular Bathing: Using pet-friendly shampoos and conditioners to clean the pet's coat and skin.</p>
                                Medicated Baths: Using specialized shampoos for pets with skin conditions, allergies, or parasites (e.g., flea and tick baths).
                            </li>
                            <li>
                                <b>Brushing and Deshedding:</b>
                                <p> Brushing: Removing loose fur, dirt, and debris from the coat, which helps reduce shedding and prevent matting.</p>
                               <p> Deshedding Treatments: Specialized tools and techniques to reduce the amount of fur shed by pets, especially those with thick or double coats.</p>
                            </li>
                            <li>
                                <b>Haircuts and Trimming:</b>
                              <p>  Full Haircuts: Trimming the pet's coat to a specific style or length, often done for aesthetic purposes or breed standards (e.g., poodle cuts).</p>
                                <p>Trimming: Cutting hair around sensitive areas such as the eyes, ears, paws, and sanitary areas for hygiene and comfort.</p>
                            </li>
                            <li>
                                <b>Nail Trimming and Clipping:</b>
                               <p> Regularly cutting or grinding pets' nails to a safe and comfortable length to prevent overgrowth and potential injuries.</p>
                            </li>
                            <li>
                                <b>Ear Cleaning:</b>
                                <p> Cleaning the pet's ears to remove wax, dirt, and debris, which helps prevent infections and mites.</p>
                            </li>
                            <li>
                                <b>Teeth Brushing and Dental Care:</b>
                               <p> Teeth Brushing: Using pet-friendly toothpaste to clean the pet's teeth and gums.</p>
                                <p> Dental Checkups: Visual inspections of the pet's teeth and gums, and sometimes offering professional dental cleaning.</p>
                            </li>
                            <li>
                                <b>Anal Gland Expression:</b>
                               <p> Manually expressing the anal glands to prevent discomfort, infections, or blockages. This is common for certain breeds prone to gland issues.</p>
                            </li>
                            <li>
                                <b>Paw and Pad Care:</b>
                               <p> Paw Cleaning: Removing dirt and debris from between the toes and pads.</p>
                                <p>  Pad Moisturizing: Applying balms or moisturizers to keep the paw pads soft and prevent cracking.</p>
                            </li>
                           
                           
                        </ul>
                        <!-- /ul -->
                    </div>
                    <!-- /col-sm -->
                    <div class="col-sm-6">
                        <ul class="custom ps-0">
                            <li>
                                <b>Deodorizing and Fragrance Application:</b>
                                <p> Using pet-safe deodorizing sprays or applying a light fragrance to keep pets smelling fresh.</p>
                            </li>
                            <li>
                                <b>Flea and Tick Treatments:</b>
                                <p>  Applying preventive treatments or removing fleas and ticks during grooming sessions to keep the pet free from parasites.</p>
                            </li>
                            <li>
                                <b>Coat Conditioning:</b>
                                <p> Applying leave-in conditioners or treatments to keep the pet's coat shiny, soft, and healthy.</p>
                            </li>

                            <li>
                                <b>De-Matting:</b>
                               <p> Carefully removing tangles and mats from the pet's coat using specialized tools and techniques.</p>
                            </li>
                            <li>
                                <b>Blow-Drying and Styling:</b>
                               <p> Drying the pet's coat with a blow dryer after a bath and styling it according to breed standards or owner's preference.</p>
                            </li>
                            <li>
                                <b>Specialized Services:</b>
                              <p>  Breed-Specific Grooming: Techniques and styles tailored to specific breeds to maintain their unique appearance.</p>
                              <p>  Hand-Stripping: A grooming technique used for certain wire-haired breeds where dead hair is manually removed to promote new growth.</p>
                            </li>
                            <li>
                                <b>Spa Treatments:</b>
                             <p>   Hydrotherapy: Water massage therapy to relax muscles and improve circulation.</p>
                                <p>Facials and Masks: Using gentle, pet-safe products to clean and rejuvenate the pet's face and skin.</p>
                            </li>
                            <li>
                                <b> Pet Massage:</b>
                               <p> Offering gentle massage therapy to relax and soothe pets, which can be beneficial for stress relief and circulation.</p>
                            </li>
                            <li>
                                <b>Cologne or Perfume Application:</b>
                              <p>  Spritzing a mild, pet-safe cologne or perfume after grooming to leave a pleasant scent.</p>
                            </li>
                        </ul>
                        <!-- /ul -->
                    </div>
                    <!-- /col-sm -->
                </div>
                <!-- /row -->
            </div>
            <!-- /col-md- -->
            <div class="sidebar col-lg-3 res-margin  card bg-light-custom h-50">
                <h6>All Services</h6>
                <div class="list-group">
                    <a  class="list-group-item list-group-item-action active">
                        Grooming Services
                    </a>
                    @foreach(var item in Model)
                    {
                         <a  class="list-group-item list-group-item-action">@item.Name (@item.Price)</a>
                    }
                   
                    
                <!-- /list-group -->
            </div>
            <!-- /sidebar -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <!-- owl slider -->
    <div id="owl-featured" class="owl-carousel top-centered-nav owl-theme mt-5">
        <div class="col-md-12 p-3">
            <!-- image -->
            <a href="img/service-single/feature1.jpg" title="your caption here">
                <img src="img/service-single/feature1.jpg" class="border-irregular1 img-fluid hover-opacity" alt="">
            </a>
        </div>
        <!-- /col-md-12 -->
        <div class="col-md-12 p-3">
            <!-- image -->
            <a href="img/service-single/feature2.jpg" title="your caption here">
                <img src="img/service-single/feature2.jpg" class="border-irregular2 img-fluid hover-opacity" alt="">
            </a>
        </div>
        <!-- /col-md-12 -->
        <div class="col-md-12 p-3">
            <!-- image -->
            <a href="img/service-single/feature3.jpg" title="your caption here">
                <img src="img/service-single/feature3.jpg" class="border-irregular1 img-fluid hover-opacity" alt="">
            </a>
        </div>
        <!-- /col-md-12 -->
        <div class="col-md-12 p-3">
            <!-- image -->
            <a href="img/service-single/feature4.jpg" title="your caption here">
                <img src="img/service-single/feature4.jpg" class="border-irregular2 img-fluid hover-opacity" alt="">
            </a>
        </div>
        <!-- /col-md-12 -->
        <div class="col-md-12 p-3">
            <!-- image -->
            <a href="img/service-single/feature5.jpg" title="your caption here">
                <img src="img/service-single/feature5.jpg" class="border-irregular1 img-fluid hover-opacity" alt="">
            </a>
        </div>
        <!-- /col-md-12 -->
    </div>
    <!-- /owl-carousel -->
</div>