<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid overlay">
    <div class="jumbo-heading">
        <!-- section-heading -->
        <div class="section-heading" data-aos="zoom-in">
            <h1>Health Care</h1>
        </div>
        <!-- /section-heading -->
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About us</li>
            </ol>
        </nav>
    </div>
    <!-- /jumbo-heading -->
</div>
<!-- /jumbotron -->

<div class="page">
    <div class="container block-padding pt-0">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <img src="~/img/about1.jpg" alt="" class="img-fluid border-irregular2" data-aos="zoom-in">
            </div>
              <!--/col-lg-->
            <div class="col-lg-7 res-margin my-auto">
                <h3>Your pet deserves the best</h3>
                <p>Your pet always deserves the best. This starts with providing healthy and appropriate food for their needs, along with daily exercise to help them stay healthy and happy. Don’t forget the importance of regular vet visits to ensure their well-being and prevent illnesses. Additionally, set aside time for play and interaction to strengthen the bond between you and your pet. Personal hygiene care, including bathing, dental cleaning, and fur grooming, contributes to their well-being. In the end, with comprehensive care, you can ensure your pet lives a life full of health and love.</p>
                </div>
            <!-- /col-lg -->
        </div>
        <!-- /row -->
        <div class="row mt-5">
            <div class="col-lg-7">
                <h4>We help to Improve their life quality</h4>
                <p>At our center, we are dedicated to enhancing the quality of life for your pets. Our holistic approach ensures that every aspect of their well-being is taken care of:</p>
                 <ul class="custom ps-0">
                    <li><b>Balanced Nutrition:</b> We provide tailored diet plans to meet the specific needs of each pet.</li>
                    <li><b> Regular Exercise:</b> Structured activities keep them physically fit and mentally stimulated.</li>
                    <li><b>Comprehensive Healthcare: </b> Routine check-ups and preventive care ensure long-term health. </li>
                    <li><b>Grooming Services: </b>  We offer grooming to keep your pets looking and feeling their best.</li>
                    <li><b> Emotional Support:</b>  We create a nurturing environment to keep your pets happy and stress-free.</li>
                </ul>
                <p>By focusing on these key areas, we ensure that your pet enjoys a healthier, happier life.</p>

                <!-- /ul -->
            </div>
            <!-- /col-lg-->
            <div class="col-lg-5 res-margin">
                <div id="accordion" class="accordion-cards">
                    <!-- card 1-->
                    <div class="card">
                        <div class="card-header collapsed" id="headingOne" role="tablist" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <h6 class="mb-0 accordion-header">
                                Our philosophy
                            </h6>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus.
                                    Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- card 2-->
                    <div class="card">
                        <div class="card-header" id="headingTwo" role="tablist" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h6 class="mb-0 accordion-header">
                                Why Choose us?
                            </h6>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus.
                                    Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- card 3-->
                    <div class="card">
                        <div class="card-header" id="headingThree" role="tablist" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h6 class="mb-0 accordion-header">
                                Top quality products
                            </h6>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus.
                                    Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /acordion -->
            </div>
            <!-- /col-lg -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <div id="call-to-action">
        <div class="container block-padding">
            <div class="col-lg-6 offset-lg-6 bg-primary text-light card text-center">
                <h4>Subscribe to our newsletter</h4>
                <p>Ultricies a,interdum donec eget metus auguen u Fusce mollis imperdiet interdum donec eget metus auguen unc vel lorem.</p>
                <!-- Form -->
                <div id="mc_embed_signup">
                    <!-- your form address in the line bellow -->
                    <form action="//yourlist.us12.list-manage.com/subscribe/post?u=04e646927a196552aaee78a7b&id=111" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <div class="input-group">
                                    <input class="form-control input-lg required email" type="email" value="" name="EMAIL" placeholder="Your email here" id="mce-EMAIL">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
                                    </span>
                                </div>
                                <!-- Subscription results -->
                                <div id="mce-responses" class="mailchimp">
                                    <div class="alert alert-danger response" id="mce-error-response"></div>
                                    <div class="alert alert-success response" id="mce-success-response"></div>
                                </div>
                            </div>
                            <!-- /mc-fiel-group -->
                        </div>
                        <!-- /mc_embed_signup_scroll -->
                    </form>
                    <!-- /form ends -->
                </div>
                <!-- /mc_embed_signup -->
            </div>
            <!-- /col-md-12 -->
        </div>
        <!--/row -->
    </div>
    <!--/call-to-action -->
    <div class="container bottom-block-padding">
        <div class="bg-light-custom card">
            <div class="row">
                <div class="col-xl-6">
                    <h4>Caring for your pets since 2001</h4>
                    <p>Since 2001, we have been dedicated to providing exceptional care for your beloved pets. Our experienced team focuses on:</p>
                    <ul class="custom ps-0">
                        <li><b>Comprehensive Health Services: </b> We offer regular check-ups, vaccinations, and preventative care to keep your pets healthy.</li>
                        <li><b>Tailored Nutrition and Exercise:  </b>Our personalized plans ensure that each pet receives the right food and exercise for their specific needs. </li>
                        <li><b> Compassionate Support:</b> We provide emotional and behavioral support to ensure your pets are happy and well-adjusted. </li>
                    </ul>
                    <p>With over two decades of experience, we are committed to enhancing the well-being of every pet that comes through our doors.</p>

                    <!-- /ul -->
                </div>
                <!-- /col-md -->
                <div class="col-xl-6 my-auto">
                    <!-- embed video -->
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/lWQaaZkqND4" allowfullscreen></iframe>
                    </div>
                </div>
                <!-- /col-md -->
            </div>
            <!-- /row -->
        </div>
        <!-- /card -->
    </div>
    <!-- /container -->
</div>
