<div class="jumbotron jumbotron-fluid overlay">
    <div class="jumbo-heading">
        <!-- section-heading -->
        <div class="section-heading" data-aos="zoom-in">
            <h1>Pet Hotel</h1>
        </div>
        <!-- /section-heading -->
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index"asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item">Pet Hotel</li>
                
            </ol>
        </nav>
    </div>
    <!-- /jumbo-heading -->
</div>
<!-- /jumbotron -->
<!-- ==== Page Content ==== -->
<div class="page">
    <div class="container">
        <div class="row">
            <!-- /col-md-6 -->
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 mb-lg-0 mb-5">
                        
                        <img src="~/img/a_cozy.jpg" class="border-irregular1 img-fluid" alt="">
                    </div>
                    <!-- /col -->
                    <div class="col-lg-8">
                       
                        <h3>Pet Hotel Service</h3>
                         <p>
                            Our Pet Hotel Service offers a comfortable and safe environment for your beloved pets while you're away. We ensure that your pets receive the best care, including proper feeding, exercise, and lots of love. Our facilities are designed to provide a stress-free experience, so your pets feel at home. Trust us to keep your furry friends happy and healthy during their stay.
                        </p>
                        
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
                <h4 class="mt-5">Service Highlights</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="custom ps-0">
                            <li>Safe and comfortable accommodations for pets.</li>
                            <li>Daily feeding and exercise routines.</li>
                            <li>Caring and attentive staff ensuring a stress-free stay.</li>
                        </ul>
                        <!-- /ul -->
                    </div>
                    <!-- /col-sm -->
                    <div class="col-sm-6">
                        <ul class="custom ps-0">
                            <li>Spacious and clean living areas tailored to each pet's needs. </li>
                            <li>Personalized care plans, including special diets or medications.</li>
                            <li>Socialization opportunities with other pets, if suitable.</li>
                        </ul>
                        <!-- /ul -->
                    </div>
                    <!-- /col-sm -->
                </div>
                <!-- /row -->
            </div>
            <h4 class="col-lg-3">
                <i class="fas fa-info-circle text-muted me-2"></i>
                Service is available exclusively at the care home. Online booking is not available.
            </h4>
            <!-- /sidebar -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <!-- owl slider -->
    <div id="owl-featured" class="owl-carousel top-centered-nav owl-theme mt-5">
        <div class="col-md-12 p-3">
            <!-- image -->
            <a href="img/service-single/feature1.jpg" title="your caption here">
                <img src="~/img/service-single/feature1.jpg" class="border-irregular1 img-fluid hover-opacity" alt="">
            </a>
        </div>
        <!-- /col-md-12 -->
        <div class="col-md-12 p-3">
            <!-- image -->
            <a href="img/service-single/feature2.jpg" title="your caption here">
                <img src="~/img/service-single/feature2.jpg" class="border-irregular2 img-fluid hover-opacity" alt="">
            </a>
        </div>
        <!-- /col-md-12 -->
        <div class="col-md-12 p-3">
            <!-- image -->
            <a href="img/service-single/feature3.jpg" title="your caption here">
                <img src="~/img/service-single/feature3.jpg" class="border-irregular1 img-fluid hover-opacity" alt="">
            </a>
        </div>
        <!-- /col-md-12 -->
        <div class="col-md-12 p-3">
            <!-- image -->
            <a href="img/service-single/feature4.jpg" title="your caption here">
                <img src="~/img/service-single/feature4.jpg" class="border-irregular2 img-fluid hover-opacity" alt="">
            </a>
        </div>
        <!-- /col-md-12 -->
        <div class="col-md-12 p-3">
            <!-- image -->
            <a href="img/service-single/feature5.jpg" title="your caption here">
                <img src="~/img/service-single/feature5.jpg" class="border-irregular1 img-fluid hover-opacity" alt="">
            </a>
        </div>
        <!-- /col-md-12 -->
    </div>
    <!-- /owl-carousel -->
</div>
<!-- /page -->