<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- page title -->
        <title>Care Home!</title>
        <!--[if lt IE 9]>
        <script src="js/respond.js"></script>
        <![endif]-->
        <!-- Font files -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
        <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
        <link href="~/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
        <!-- Fav icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="~/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/apple-icon-114x114.png">
        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
        <!-- Bootstrap core CSS -->
        <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- style CSS -->
        <link href="~/css/style.css" rel="stylesheet">
        <!-- plugins CSS -->
        <link href="~/css/plugins.css" rel="stylesheet">
        <!-- Colors CSS -->
        <link href="~/styles/maincolors.css" rel="stylesheet">
        <!-- LayerSlider CSS -->
        <link rel="stylesheet" href="~/vendor/layerslider/css/layerslider.css">
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    </head>
</head>
<body id="top">

    <!-- Preloader-->
    <div id="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
        </div>
    </div>
    <!-- /Preloader ends -->
    <nav id="main-nav" class="navbar-expand-xl">
        <!-- Start Top Bar -->
        <div class="container-fluid top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <!-- Start Contact Info -->
                        <ul class="contact-details float-left">
                            <li><i class="fa fa-map-marker"></i>jordan - Amman</li>
                            <li><i class="fa fa-envelope"></i><a href="odaiabuaishah@gmail.com">odaiabuaishah@gmail.com</a></li>
                            <li><i class="fa fa-phone"></i>0786877078</li>
                        </ul>
                        <!-- End Contact Info -->
                    </div>
                    <!-- /col -->


                    <div class="col-md-2">
                        <!-- Start Social Links -->
                        <ul class="social-list float-right list-inline">
                            <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>



                        <!-- /End Social Links -->
                    </div>
                    <div class="col-md-3">
                        <ul class="social-list float-right list-inline">

                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                    <!-- /col -->
                </div>

                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- End Top bar -->
        <!-- Navbar Starts -->
        <div class="navbar container-fluid">
            <div class="container">
                <!-- logo -->
                <a class="navbar-brand" asp-action="Index"asp-controller="Home">
                    <i class="flaticon-dog-20"></i><span>Care Home!</span>
                </a>
                <!-- Navbartoggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggle-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-action="Index" asp-controller="Home" asp-area="Dashboard">
                                    Dashboard?
                                </a>
                            </li>
                        }

                        <!-- menu item -->
                        <li class="nav-item">
                            <a class="nav-link " asp-action="Index" asp-controller="Home">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-action="Gallery" asp-controller="Animal">
                                Gallery
                            </a>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="services-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Services
                            </a>
                            <div class="dropdown-menu" aria-labelledby="services-dropdown">
                                <a class="dropdown-item" asp-action="PetHotel"asp-controller="Home">Pet Hotel</a>
                                <a class="dropdown-item" asp-action="HealthCare" asp-controller="Home">Health Care</a>
                                <a class="dropdown-item" asp-action="Index"asp-controller="Grooming">Grooming</a>
                            </div>
                        </li>
                        <!-- menu item -->
                        <li class="nav-item dropdown">

                            <a class="nav-link " asp-action="AboutUs" asp-controller="Home"   aria-haspopup="true" aria-expanded="false">
                                About
                            </a>
                            
                        </li>
                        @if (User.IsInRole("User") || User.IsInRole("Admin"))
                        {
                            <!-- menu item -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="adopt-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Appointments
                                </a>
                                <div class="dropdown-menu" aria-labelledby="adopt-dropdown">
                                    <a class="nav-link" asp-action="Index" asp-controller="HealthCare">
                                         HealthCare
                                    </a>

                                    <a class="dropdown-item" asp-action="Index" asp-controller="Visit">
                                        Appointments Grooming
                                    </a>
                                    
                                </div>
                               
                            </li>
                        }
                        <!-- menu item -->
                        <li class="nav-item ">
                            <a class="nav-link" asp-action="Index" asp-controller="Review"  aria-haspopup="true" aria-expanded="false">
                               Review
                            </a>
                         
                        </li>
                        <!-- menu item -->
                        <li class="nav-item ">
                            <a class="nav-link " asp-action="Index"asp-controller="Faq"  aria-haspopup="true" aria-expanded="false">
                                FAQ
                            </a>
                          
                        </li>
                        <!-- menu item -->
                        @if (User.IsInRole("User")|| User.IsInRole("Admin"))
                        {
                            <li class="nav-item ">
                            <a class="nav-link " asp-action="Index"asp-controller="Animal"   aria-haspopup="true" aria-expanded="false">
                                My Animals
                            </a>
                            
                        </li>
                        }
                        
                    </ul>
                    <!--/ul -->
                </div>
                <!--collapse -->
            </div>
            <!-- /container -->
        </div>
        <!-- /navbar -->
    </nav>
    <!-- /nav -->


    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <!-- ==== footer ==== -->
    <footer class="text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a class="navbar-brand" asp-action="Index"asp-controller="Home"><i class="flaticon-dog-20"></i><span>Care Home!</span></a>
                    <p class="mt-3">"Care Home for Pets provides a safe, loving environment where your pets receive personalized care, including boarding, grooming, and health services. Our dedicated team ensures your pets are comfortable and happy while you're away."</p>
                </div>
                <!--/ col-lg -->
                <div class="col-lg-3">
                    <h6><i class="fas fa-envelope margin-icon"></i>Contact Us</h6>
                    <ul class="list-unstyled">
                        <li>0786877075</li>
                        <li><a href="mailto:email@yoursite.com">Odaiabuaishah@gmail.com</a></li>
                        <li>Jordan_Amman</li>
                    </ul>
                    <!--/ul -->
                </div>
                <!--/ col-lg -->
                <div class="col-lg-3">
                    <h6><i class="far fa-clock margin-icon"></i>Working Hours</h6>
                    <ul class="list-unstyled">
                        <li>Open 9am - 10pm</li>
                        <li>Holidays - Closed</li>
                        <li>Weekends - Closed</li>
                    </ul>
                    <!--/ul -->
                </div>
                <!--/ col-lg -->
            </div>
            <!--/ row-->
            <div class="row">
                <div class="credits col-sm-12">
                    <p>Designed by <a href="http://www.ingridkuhn.com">Ingrid Kuhn</a></p>
                </div>
            </div>
            <!--/ row -->
        </div>
        <!--/ container -->
        <!-- Go To Top Link -->
        <div class="d-none d-md-block">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
        </div>
        <!--/page-scroll-->
    </footer>
    <!--/ footer-->
    <!-- Bootstrap core & Jquery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/plugins.js"></script>
    <!-- Prefix free -->
    <script src="~/js/prefixfree.min.js"></script>
    <!-- GreenSock -->
    <script src="~/vendor/layerslider/js/greensock.js"></script>
    <!-- LayerSlider script files -->
    <script src="~/vendor/layerslider/js/layerslider.transitions.js"></script>
    <script src="~/vendor/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="~/vendor/layerslider/js/layerslider.load.js"></script>
    <!-- Mailchimp script -->
    <script src="~/js/mailchimp.js"></script>
    <!-- number counter script -->
    <script src="~/js/counter.js"></script>
    <!-- Contact Form script -->
    <script src="~/js/contact.js"></script>
    <!-- Map -->
    <script src="~/js/map.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
